*{
    /* background-color: black; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
}

h2{
    color: red;
}

p{
    color: darkblue;
    background-color: gray;
    background-image: url(./Assets/Superman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.selector > h1,
.selector > h2,
.selector > h3{
    color: violet;
} 

#lang > h1{
    color: blue;
}

.Container{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 30px;
    padding-top: 50px; */
    padding: 20px 40px 60px 80px;
    /* border-left: 10px solid black;
    border-right: 10px solid greenyellow; */
    /* border: 10px solid greenyellow; */
    /* margin-left: 100px;
    margin-top: 100px; */
    margin: 30px 50px 70px 90px;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 3;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    order: 1;
}


.box3{
    width: 100px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 2;
}

.box4{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.box5{
    width: 100px;
    height: 100px;
    background-color: pink;
}

.container{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* height: 500px; */
    /* border: 1px solid black; */
    /* align-items: center; */
    /* align-content: space-between; */
    gap: 10px;
}